:root {
  --blue-green: #85cdca;
  --cool-green: #5cdb95;
  --bright-red: #fc4445;
  --dark-blue: #05396b;
  --white: #edf5e0;
}

* {
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  min-height: 100%;
}

body {
  background-color: var(--cool-green);
  color: var(--white);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  list-style-type: none;
  margin: 5%
}

#main-feed li {
  background-color: var(--bright-red);
  margin: 10px 0;
  padding: 10px;
}
